*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* colore sfondo intera pagina */
body {
    background-image: url("https://www.tokkoro.com/picsup/2705389-star-wars-4k-hd-amazing-wallpaper.jpg");
    background-size: cover;
}
/* centraggio elementi nella pagina */
.container {
    width: 950px;
    margin: 0 auto;
}
/* stilizzazione titolo */
h1 {
    font-family: 'IM Fell Great Primer SC', serif;
    color: orange;
    font-size: 40px;
    text-align: center;
}
/* stilizzazione riquadro */
.blocco {
    background-color: #ececec;
    width: 300px;
    height: 400px;
    display: inline-block;
    position: relative;
    border-radius: 2%;
}
/* stilizzazione titolo articoli */
.titolo {
    font-family: 'IM Fell Great Primer SC', serif;
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 20px;
    color: blue;
}
/* creazione margine tra i due div */
#two {
    margin-top: 15px;
}
/* stilizzazione immagine */
.blocco img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    top: 50px;
    left: 50px;
}
/* stilizzazione riquadro rosso per sconto */
.sconto-red {
    background-color: red;
    height: 30px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10%;
}
/* stilizzazione riquadro verde per sconto */
.sconto-green {
    background-color: green;
    height: 30px;
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;;
}
/* stilizzazione testo dello sconto */
.testo-sconto {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}
/* stilizzazione testo dello sconto a una cifra */
#sconto-9 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
}
/* stilizzazione cuore a scomparsa */
.cuore {
    position: absolute;
    bottom: 5px;
    left: 130px;
    font-size: 30px;
    padding: 0;
    display: none;
    color: black;
}
/* quando passo col mouse su div "BLOCCO" viene reso visibile il div "SMILE" */
.blocco:hover .cuore {
    display: block;
    cursor: pointer;
}
/* creazione sfondo riquadro articolo quando si passa con mouse */
.blocco:hover {
    background-color: rgba(255, 255, 0, 0.2);
}
/* posizione smile centrata */
a {
    position: absolute;
    left: 5px;
}
/* stilizzazione credits */
#credits {
    font-family: 'IM Fell Great Primer SC', serif;
    font-style: italic;
    color: white;
}
/* creazione colore rosso quando si passa con mouse */
.cuore:hover {
    color: red;
}
