*{
    box-sizing: border-box;
}
/* stilizzazione riquadro */
.blocco {
    background-color: #ececec;
    width: 300px;
    height: 400px;
    display: inline-block;
    position: relative;
    border-radius: 2%;
}
/* creazione margine tra i due div */
#two {
    margin-top: 10px;
}
/* stilizzazione immagine */
.immagine {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
}
/* stilizzazione riquadro rosso per sconto */
.sconto-red {
    background-color: red;
    height: 30px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10%;
}
/* stilizzazione riquadro verde per sconto */
.sconto-green {
    background-color: green;
    height: 30px;
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;;
}
/* stilizzazione testo dello sconto */
.testo-sconto {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}
/* stilizzazione testo dello sconto a una cifra */
#sconto-9 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
}
/* stilizzazione cuore a scomparsa */
.smile {
    position: absolute;
    bottom: 10px;
    left: 130px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.visibile:hover {
    background-color: orange;
}

.visibile-1:hover {
    background-color: yellow;
    cursor: pointer;
}
